

:root{
    --br-white: rgba(255, 255, 255, 0.3);
    --br: 20px;
    --border: solid 1px rgba(255, 255, 255, 0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0020d2;
    background-image: linear-gradient(43deg, #19aa09 0%, #334025 46%, #546230 100%);

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--br-white);
    height: 90%;
    width: 80%;

    backdrop-filter: blur(20px);
    border: var(--border);
    border-radius: var(--br);

    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);

    display: flex;
}

sidebar{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    border-radius: var(--br);
}

sidebar ul{
    padding: 0;
    margin: 20px 0;
    list-style: none;
    text-align: left;
}

sidebar ul li a{
    color: rgba(255, 255, 255, 0.8);
    display: block;
    text-decoration: none;
    padding: 12px 10px;
}

sidebar ul li a:hover{
    color: white;
    border-radius: var(--br);
    background-color: #078011;
    background-image: linear-gradient(45deg, #078011 0%, #057630 100%);
    
    box-shadow: 0 5px 10px 2px rgba(43, 255, 10, 0.5);
}

.profile-card{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.profile-card h2{
    padding: 10px;
    font-size: 35px;
    text-shadow: #003715;
}

.profile{
    border-radius: 50%;
    width: 175px;
    box-shadow:  rgba(0, 0, 0, 0.3);
}

main{
    padding: 20px;
    width: 70%;
}

main header h2{
    color: rgba(0, 0, 0, 0.7);
    font-size: 38px;
    margin: 10px 0;
}

main .header span{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
    display: block;
}

.card{
    backdrop-filter: blur(5px);
    border-radius: var(--br);
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 20px 0;
    overflow: hidden;
    border: var(--border);
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
}

.card .content{
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 30px;
    border-radius: var(--br);
}

.card .left{
    padding-right: 15px;
}

.card .right{
    width: 100%;
}



.card .right .task{
    font-size: 22px;
}

.card .right .status{
    padding: 5px 0;
    font-size: 14px;
    color: #888;
}

.card .right .progress{
    background-color: #ddd;
    width: 100%;
    height: 10px;
}

.card .right .progress .fill{
    height: 10px;
    margin: 10px 0;
}

.card .right .progress .fill.fill-55{
    background-color: rgb(255, 56, 21);
    width: 40%;
}

.card .right .progress .fill.fill-70{
    background-color: rgb(189, 255, 21);
    width: 50%;
}

.card .right .progress .fill.fill-75{
    background-color: rgb(21, 255, 25);
    width: 75%;
}

.card .buttons{
    backdrop-filter: blur(5px);
    text-align: right ;
    padding: 10px;
}

.btn{
    background-color: #078011;
    border: none;
    font-weight: bolder;
    color: white;
    padding: 10px 15px;
    border-radius: var(--br);
}

.btn:hover {
    background-color: #0d7526;
    box-shadow: 0 5px 10px 2px #0aff6880;
}


@media (max-width: 920px) {
    body{
        height: 200vh;
    }

    .container{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    sidebar{
        width: 80%;
        margin-top: 50px;
    }

    main{
        width: 80%;
    }

    .profile{
        width: 175px;
    }

    header{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    body{
        height: 210vh;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .left{
        padding-right: 0;
        padding-top: 10px;
    }

    .right{
        padding-bottom: 10px;
    }
}